{{ template "header" }}

    {{ $userId := .UserID }}
    <h1 class="text-center">UserID: {{ $userId }}</h1>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Action Type</th>
                    <th scope="col">Detail Type</th>
                    <th scope="col">Money</th>
                    <th scope="col">Description</th>
                    <th scope="col">Create Time</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{ range $index, $element := .Data }}
                <tr>
                    <th scope="row">{{ $index }}</th>
                    <td>{{ $element.ActionType }}</td>
                    <td>{{ $element.DetailType }}</td>
                    <td>{{ $element.Money }}</td>
                    <td>{{ $element.Description }}</td>
                    <td>{{ printf "%s" $element.CreateTime }}</td>
                    <td><form action="/Users/{{ $userId }}/AllData/{{ $element.LogId }}" method="GET">
                        <button type="submit" class="btn btn-success">Edit</button>
                    </form></td>
                    <td><form action="#" method="GET">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

{{ template "footer" }}