{{ template "header" }}

    <div class="container">
        <h1 class="text-center">User Page</h1>
        <div class="card">
            <div class="card-header text-center">
                User
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">{{ .Name }}</h5>
                <p class="card-text">Account: {{ .Account }}</p>
                <form action="/Users/{{ .UId }}" method="POST">
                    <button class="btn btn-danger">Delete Account</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <form action="/Users/{{ .UId }}/AllData" method="GET">
                    <button class="btn btn-warning">Show All</button>
                </form>
            </div>
            <div class="col-auto">
                <form action="/Users/{{ .UId }}/Outlay" method="GET">
                    <button class="btn btn-success">Outlay</button>
                </form>
            </div>
            <div class="col-auto">
                <form action="/Users/{{ .UId }}/Income" method="GET">
                    <button class="btn btn-primary">Income</button>
                </form>
            </div>
        </div>
    </div>

{{ template "footer" }}